body {

    font-family: 'Georgia', serif;
    background-color: #ccc;
    line-height: 1.6;
}

.container{
    margin: 0 auto;
    width: 960px;
    

}

h1 {
    font-size: 48px;
    

}



h1 a{

    color:black;
    text-decoration: none;
}

h1 a:hover{
    color: #054f68;
    text-shadow: 1px 1px 2px white;

}

/*Aqui começo estilizar cada lugar na página*/

article {

    background-color:#FFF;
    border-color: #ccc #999 #999 #ccc;
    border: 1px solid #ccc;
    margin-bottom:  10px;
    padding: 20px;
    box-shadow: 1px 3px 8px black;
    border-radius: 6px;

}

article h2 {
    border-bottom: 1px dashed;
    margin: 0;
    font-size: 30px;
}

article a{

    color: #2c88a7;
    font-weight: bold;
    text-decoration: none;
    margin-right: 15px;
    
}

article a:hover{

    background-color: pink ;
    color: black ;
    border-radius: 10px;
   
    
}

article img {

    width: 200px;
    height: 200px;
    float: left;
    margin: 10px 10px 0 0;
    padding: 2px;
    box-shadow: 1px 3px 4px grey;
    
}

/*places lado direiro*/

.places{
    float: left;
    width: 660px;
}

/*Esta colocar o footer no fim da página*/
.clear {
    clear: both;
}

/*Seção Barra Lateral - Sidenote*/

aside{

    font: 10px;
    float: right;
    width: 250px;

    background-color:#FFF;
    border-color: #ccc #999 #999 #ccc;
    border: 1px solid #ccc;
    margin-bottom:  10px;
    padding: 20px;
    box-shadow: 1px 3px 8px black;
    border-radius: 6px;

}

aside h3 {
    color: #054f68;
    text-shadow: 0px 1px 1px black;

}


aside ol{

    font-size: 12px;

}
/*Seção footer*/

footer {
    font-size: 14px;
    text-align: center;
    height: 20px;
}